/*CSS RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: lightgray;
}
#home, #projects{
  height: 100%;
  background-color: #ADC4D7;
}

#projects h2{
  text-align: center;
}

div p{
  text-align: justify;
}

.img-fluid{
  width: 100%;
}

.navbar{
  background-color: #5B89AE;
}
